                                                                                                                                             
    # Wyklucz katalog .next                                                                                                                      
next/                                                                                                                                       
                                                                                                                                                 
# Wyklucz pliki konfiguracyjne                                                                                                               
.env                                                                                                                                          
.env.local                                                                                                                                    
node_modules
node_modules
-e # Wyklucz katalog .next
.next/

# Wyklucz pliki konfiguracyjne
env
env.local
TODO